<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To main</button>
  </div>

  <div class="info">
    <strong>IG_GI</strong>
    <small>02.05.1580</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nisi nostrum omnis quia quos sequi soluta sunt ut! Ad adipisci, animi aspernatur autem dolor dolore dolores ex explicabo facilis illo in itaque modi molestias, natus nesciunt praesentium, quas quibusdam quis quo ratione recusandae sit suscipit tempora tempore temporibus ut veniam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nisi nostrum omnis quia quos sequi soluta sunt ut! Ad adipisci, animi aspernatur autem dolor dolore dolores ex explicabo facilis illo in itaque modi molestias, natus nesciunt praesentium, quas quibusdam quis quo ratione recusandae sit suscipit tempora tempore temporibus ut veniam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nisi nostrum omnis quia quos sequi soluta sunt ut! Ad adipisci, animi aspernatur autem dolor dolore dolores ex explicabo facilis illo in itaque modi molestias, natus nesciunt praesentium, quas quibusdam quis quo ratione recusandae sit suscipit tempora tempore temporibus ut veniam?</p>
  </div>
</div>
