form {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: auto;
}

.validation {
  color: red;
}

.control {
  padding: 0.5rem 0;
}

.alert-info {
  background: #ff992d;
  color: white;
}
